
  .contact-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #fff;
  }
  
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  
  .contact-form {
    flex: 1 1 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  
  
  .map-container {
    flex: 1 1 300px;
    max-width: 500px;
  }
  ::ng-deep .toast-success {
    background-color: #cca44c !important;
    color: #000 !important;
  }