@import "tailwindcss";
@import 'swiper/swiper-bundle.css';

html {
    scroll-behavior: smooth;
 }

body {
    font-family: 'Cormorant', sans serif;
    background-size: cover;  /* L'image couvre tout le fond */
    background-position: center center;  /* Centrer l'image */
    background-repeat: no-repeat;  /* Empêcher l'image de se répéter */
    min-height: 100vh;
}

section {
    min-height: 100vh; /* Assure que chaque section prend au moins 100% de la hauteur de l'écran */
}


  
/* Sur des écrans plus petits, tu peux ajuster la position ou la taille */
@media (max-width: 768px) {
    body {
        background-size: cover;  /* Toujours couvrir, mais l'image peut être recadrée */
        background-position: center center;  /* Toujours centrer l'image */
        min-height: 100vh;  /* Hauteur maximale */
    }
}

/* Sur des écrans très petits (comme les téléphones en portrait) */
@media (max-width: 500px) {
    body {
        background-size: cover;  /* Couvre toujours, mais s'adapte mieux */
        background-position: top center;  /* Aligner le haut de l'image (éviter de couper des zones importantes) */
        min-height: 100vh;
    }
}
  
app-carousel {
    position: relative;
    z-index: 10; /* Assure que le carrousel se trouve au-dessus de l'image de fond */
    margin-top: 50px; /* Un peu d'espace entre le contenu et le carrousel */
    width: 100%;
    max-width: 1200px; /* Limite la largeur du carrousel */
}
  

