<header class="relative text-white overflow-hidden home">
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl py-2 text-center py-6 mt-2" data-aos="fade-up" data-duration="2000">
    <!-- LOGO au centre -->
    <div class="flex justify-center mb-8" >
      <img
        src="assets/logo.png"
        alt="Maison Lemire Logo"
        class="w-64 md:w-80 lg:w-96 drop-shadow-lg"
      />
    </div>
    
    <h1 class="mb-2 text-4xl sm:text-5xl font-light">
      Votre partenaire global en solution food & services. 
    </h1>
    <!-- Slogan -->
    <p class="text-lg md:text-2xl text-white/80  font-light">
      Évènementiel, production culinaire, livraison de repas & personnel qualifé.
    </p>

    <!-- Boutons CTA -->
    <div class="mt-6 flex justify-center gap-4 flex-wrap" data-aos="zoom-in">
      <button (click)="scrollToSection('carousel')" class="rounded-full bg-white text-black px-6 py-3 text-sm md:text-base font-semibold transition hover:bg-[#cca44c] active:bg-[#cca44c]">
        Nos Services
      </button>
      <button (click)="scrollToSection('contact')"  class="rounded-full border border-white px-6 py-3 text-sm md:text-base font-semibold hover:border-black hover:bg-[#cca44c] hover:text-black active:bg-[#cca44c] active:text-black transition">
        Nous Contacter
      </button>
    </div>

  </div>
</header>
  
<section class="py-6 mt-12" data-aos="fade-right" data-duration="2000">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-10">
    <h2 class="text-3xl md:text-5xl font-light text-center mb-4 text-white">
      Culinaire et Évènementiel à decouvrir
    </h2>
    <p class="text-center text-white/70 mb-10 text-base md:text-lg">
      Nos solutions s'ajustent à chaque moment de votre activité, choisissez parmis nos services personnalisés, pensés pour vous.
    </p>
    <app-carousel id="carousel"></app-carousel>
  </div>  
</section>

<section class="max-w-7xl mx-auto px-4 mt-25" data-aos="fade-left" data-duration="2000">
  <app-banner-slider></app-banner-slider>
  <app-contact></app-contact>
  <app-banner-slider></app-banner-slider>
</section>