<div *ngIf="matchedItem && !matchedItem?.soon" class="overflow-hidden py-24 sm:py-32" data-aos="fade-up">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg ">
          <p class="mt-2 text-4xl font-extrabold tracking-tight text-pretty text-white sm:text-6xl"><em>{{matchedItem?.title}}</em></p>
          <p class="mt-6 text-xl text-white whitespace-pre-line" [innerHTML]="matchedItem?.text"></p>
          <button routerLink="/" fragment="contact" class="w-full mt-10 rounded-full bg-white text-black px-6 py-3 text-sm md:text-base font-extrabold transition hover:bg-[#cca44c] active:bg-[#cca44c]">
            Faites votre demande
          </button>
        </div>
      </div>
      <img data-aos="fade-right" data-duration="5000" data-aos-delay="400" src="{{matchedItem?.image}}" alt="Product screenshot" class="w-full h-auto max-h-[600px] object-cover rounded-xl shadow-xl ring-1 ring-gray-400/10" >
    </div>
  </div>
</div>
<div *ngIf="matchedItem?.soon" class="flex flex-col justify-center items-center h-screen p-4 space-y-6">
  <!-- Logo -->
  <img src="assets/signature.png" alt="Logo" class="w-32 sm:w-40 md:w-48" />

  <!-- Texte COMING SOON -->
  <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-[#cca44c] animate-pulse text-center">
    COMING SOON
  </h1>

  <!-- Bouton retour à l'accueil -->
  <button routerLink="/" class="mt-5 rounded-full bg-white text-black px-6 py-3 text-sm md:text-base font-semibold transition hover:bg-[#cca44c] active:bg-[#cca44c]">
    Retour à l’accueil
  </button>
</div>

